<div class="px-4 d-flex align-items-center" style="height: 100vh; min-height: 602px">
    <form class="d-block mx-auto form-container border px-3 pb-4">

        <h2 class="mt-4">Мой профиль</h2>

        <div class="row">
            <div class="col-sm-4 mt-3">
                <label for="input-first-name" class="form-label">Имя</label>
                <input type="text" class="form-control" value="{{ currentUser.first_name }}" id="input-first-name" pattern="^[А-Я][а-я]{1,25}$" required>
            </div>

            <div class="col-sm-8 mt-3">
                <label for="input-last-name" class="form-label">Фамилия</label>
                <input type="text" class="form-control" value="{{ currentUser.last_name }}" id="input-last-name" pattern="^[А-Я][а-я]{1,25}$" required>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 mt-3">
                <label for="input-phone" class="form-label">Телефон</label>
                <input type="tel" class="form-control" value="{{ currentUser.phone }}" id="input-phone" pattern="^[0-9]{6,15}$" required>
                <p class="error-text d-none" id="label-error-phone-dont-unique">Этот номер телефона уже используется</p>
            </div>

            <div class="col-sm-8 mt-3">
                <label for="input-invitatory" class="form-label">Приглашение оформил</label>

                <select class="form-control" id="input-invitatory" required>

                    {% set selected = "" %}

                    {% for user in users %}
                        {% if user.id != currentUser.id %}
                            {% if invitatoryUser.id == user.id %}
                                {% set selected = "selected" %}
                            {% endif %}
                            <option value="{{ user.id }}" {{ selected }}>{{ user.first_name }} {{ user.last_name }} ({{ user.phone }})</option>
                        {% endif %}

                    {% endfor %}

                </select>
                <p class="error-text d-none" id="label-error-invitatory-not-found">Данный пользователь был удален</p>
            </div>
        </div>

        <div class="mt-3">
            <label for="input-organization" class="form-label">Название организации</label>
            <input type="text" class="form-control" value="{{ currentUser.organization.title }}"id="input-organization" minlength="5" maxlength="50" required>
        </div>

        <div class="mt-3 row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary" id="submit-btn">Сохранить</button>
            </div>

            <div class="col-6" style="text-align: right">
                <btn class="btn btn-secondary" id="logout-btn">Выйти</btn>
            </div>
        </div>

    </form>
</div>

<script src="/asset/script/profile.js" defer></script>

